
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <app-breadcrumb [lstBreadCrum]="lstBreadCrumb" [hiden]="false"></app-breadcrumb>

        <div class="clearfix ng-scope">
          <div class="col-md-12 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
            <div class="row">
              <div class="col-md-12" [innerHTML]="aboutItem.content">

              </div>

              <div class="col-md-12 custom">
                <h2>Địa chỉ Công ty tại:</h2>

              </div>
              <div class="col-md-12 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118727.01623843928!2d105.73344911328886!3d21.577362959538664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313526e41a2f48ff%3A0x9af085049fb0466f!2zVHAuIFRow6FpIE5ndXnDqm4sIFRow6FpIE5ndXnDqm4sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1641484262127!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
